<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<location path="">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<!-- Login page is always open -->
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<!-- Default page is open -->
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>

	<!-- Members page have to be Staff or Member -->
	<location path="Member.aspx">
		<system.web>
			<authorization>
				<allow roles="Staff,Member" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Staff page  Staff only -->
	<location path="Staff.aspx">
		<system.web>
			<authorization>
				<allow roles="Staff" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<system.web>

		<compilation debug="true" />
		<!-- For service test page to use xml-->
		<httpRuntime requestValidationMode="2.0" />

		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>

		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="30" />
		</authentication>
		<machineKey decryption="AES" decryptionKey="EA65DB210C43E9616E44D4BE58BCEF067731ECE691F5FEB7D579A07844D889D4" validation="HMACSHA256" validationKey="729E15B942B0E39C794FFB0982F0C1CED3C3FF77041B8EC0EB46DFE78D9DF7FC64BFB052FD67B0070C071EF91B524816EE292E4F94DB6DC9E9E3FF3512ADF1D8" />


		<customErrors mode="Off" />
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService11" />
    <binding name="BasicHttpBinding_IService1" />
    <binding name="BasicHttpBinding_IService12" />
    <binding name="BasicHttpBinding_IService13" />
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="http://webstrar47.fulton.asu.edu/Page0/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
    contract="AuthServiceReferenceAsuHosted.IService1" name="BasicHttpBinding_IService11" />
   <endpoint address="http://webstrar47.fulton.asu.edu/Page2/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
    contract="WordleLogicServiceReference.IService1" name="BasicHttpBinding_IService1" />
   <endpoint address="http://webstrar47.fulton.asu.edu/Page10/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
    contract="HelperServiceReference.IService1" name="BasicHttpBinding_IService12" />
   <endpoint address="http://webstrar47.fulton.asu.edu/Page9/Service1.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
    contract="AuthServiceReference2.IService1" name="BasicHttpBinding_IService13" />
  </client>
	</system.serviceModel>


	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008&#xD;&#xA;                                 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</compilers>
	</system.codedom>

</configuration>
